In [51]:
import pandas as pd 
import numpy as np

In [52]:
df = pd.read_csv('./data/la_listings_edited.csv')
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)

In [53]:
# Create a list of filtering conditions to apply them all at the end
cond_list=[]

### Filter listings to the most common property types:
```
['Entire apartment',
 'Entire house',
 'Private room in house',
 'Private room in apartment',
 'Entire guesthouse',
 'Entire condominium',
 'Entire guest suite',
 'Entire serviced apartment',
 'Entire bungalow',
 'Private room in condominium',
 'Shared room in house',
 'Private room in townhouse',
 'Entire townhouse',
 'Entire villa',
 'Entire loft']
 ```

In [54]:
# Create list of property_types to keep in datasets
pr_type_filter = list(pd.crosstab(df['property_type'], 'count').sort_values('count', ascending=False).head(15).index)
pr_type_condition = df['property_type'].apply(lambda x: True if x in pr_type_filter else False)
cond_list.append(pr_type_condition)

In [55]:
df.head()

,id,listing_url,picture_url,host_url,neighborhood,latitude,longitude,property_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,calendar_last_scraped,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,109,https://www.airbnb.com/rooms/109,https://a0.muscache.com/pictures/4321499/1da98...,https://www.airbnb.com/users/show/521,Other Cities,33.98209,-118.38494,Entire condominium,6,2 baths,2.0,3.0,"[""Elevator"", ""Cable TV"", ""Air conditioning"", ""...",115.0,30,730,11/3/2020,10.0,10.0,6.0,8.0,10.0,8.0
1,2708,https://www.airbnb.com/rooms/2708,https://a0.muscache.com/pictures/miso/Hosting-...,https://www.airbnb.com/users/show/3008,City of Los Angeles,34.09768,-118.34602,Private room in apartment,1,1.5 baths,1.0,1.0,"[""Host greets you"", ""Elevator"", ""Air condition...",71.0,30,366,11/4/2020,10.0,10.0,10.0,10.0,10.0,10.0
2,2732,https://www.airbnb.com/rooms/2732,https://a0.muscache.com/pictures/1082974/0f74c...,https://www.airbnb.com/users/show/3041,Other Cities,34.00475,-118.48127,Private room in apartment,1,1 private bath,1.0,1.0,"[""Cooking basics"", ""Host greets you"", ""Smoke a...",155.0,1,180,11/3/2020,9.0,9.0,9.0,9.0,10.0,9.0
3,2864,https://www.airbnb.com/rooms/2864,https://a0.muscache.com/pictures/23817858/de20...,https://www.airbnb.com/users/show/3207,Other Cities,33.87619,-118.11397,Entire apartment,2,1 bath,1.0,1.0,"[""Host greets you"", ""Air conditioning"", ""Carbo...",50.0,30,730,11/4/2020,NaN,NaN,NaN,NaN,NaN,NaN
4,5728,https://www.airbnb.com/rooms/5728,https://a0.muscache.com/pictures/7a29d275-f293...,https://www.airbnb.com/users/show/9171,City of Los Angeles,33.98750,-118.43200,Private room in tiny house,2,1 shared bath,1.0,1.0,"[""Lock on bedroom door"", ""Fire extinguisher"", ...",60.0,30,1125,11/3/2020,10.0,10.0,10.0,10.0,10.0,9.0

In [ ]:
pd.crosstab(df['property_type'], 'count').sort_values('count', ascending=False)